.fh5co-counter {
	position: relative;
	margin-bottom: 122px;
	padding: 100px 0;
	background-image: url('../images/book-bckg.jpg');
	background-size: cover;
	background-position: center;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $brand-primary;
		opacity: 0.9;
	}
	.site-container {
		position: relative;
		z-index: 1;
	}
	@media (max-width: 850px) {
		padding: 50px 0 20px;
		margin-bottom: 50px;
	}
}

.counter-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.single-count {
	width: 23%;
	text-align: center;
	color: $brand-white;
	span {
		display: block;
		margin-bottom: 25px;
		font-size: 40px;
		font-weight: 900;
	}
	p {
		font-size: 20px;
		text-transform: uppercase;
	}
	@media (max-width: 850px) {
		width: 48%;
		margin-bottom: 30px;
		.count {
			font-size: 35px;
			margin-bottom: 15px;
		}
	}
	@media (max-width: 500px) {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid $brand-white;
	}
}

.single-count__text {
	display: flex;
	justify-content: center;
	img {
		margin-right: 20px;
	}
}